{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 120
}
