// https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=64B5F6&primary.text.color=000000&secondary.color=FFF9C4
$primary: #93B3CF;
$primary-light: #C1D1DB;
$primary-dark:  #7AA0CB;

$sub: #96BDC6;
$sub-light: #AEC6CF;
$sub-dark: #85B2BB;